@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply p-0 m-0 scroll-smooth bg-black text-white
  }

  /* ----- form fields ------------------------------------------------------ */
  input[type=radio] { @apply hidden; }
  label:has(input[type=radio]) { @apply bg-[url("/images/radio--unchecked.svg")] bg-no-repeat bg-leftCenter pl-6 text-lg cursor-pointer; }
  label:has(input[type=radio]:checked) { @apply bg-[url("/images/radio--checked.svg")] }

  /* navigation */
  nav ul li {
    @apply mb-6;
    a { @apply font-condensed uppercase text-[130px] leading-[100px]; }
  }

  svg {
    @apply fill-current;
  }
}

@layer components {
  /* header nav */
  nav {
    ul li a { @apply hover:text-selectiveYellow; }
    .social-media {
      @apply flex items-center gap-x-5;
    }
  }


  footer {
    .copyright a,
    .legal a { @apply hover:text-selectiveYellow border-b-1 border-transparent hover:border-b-selectiveYellow }
    .social-media { @apply flex items-center justify-center gap-8 mb-16 text-selectiveYellow;
      a { @apply hover:text-white; }
    }
  }

  /* logo parade on the home page */
  .parade {
    animation: scroll 15s linear finite;
  }

  .section-heading {
    @apply font-serif text-selectiveYellow uppercase italic text-4xl text-center
  }

  /* ----- home page ---------------------------------------------- */
  .i-believe {
    ol {
      counter-reset: ordered-list;
      @apply list-none;
      li {
        @apply flex gap-8 mb-8 items-center;
        &:before {
          content: counter(ordered-list);
          counter-increment: ordered-list;
          @apply font-serif text-selectiveYellow text-[100px] leading-none border-r-1 border-selectiveYellow w-[70px] py-2 block;
        }
        h3 { @apply font-medium text-2xl; }
        p { @apply text-[#D0D0D0] text-xl leading-loose; }
      }
    }
  }

  /* ----- blog page ---------------------------------------------- */
  .blog-filter {
    @apply flex gap-6 items-center pb-4 border-b-1 border-selectiveYellow  pl-10;
    button { @apply flex items-center py-2 px-4 rounded-md bg-[#242422] hover:bg-selectiveYellow hover:text-black text-sm font-medium gap-2 whitespace-nowrap; }
  }
}

@layer utilities {
  .center {
    @apply flex items-center justify-center
  }

  .page-grid {
    @apply grid grid-cols-12 gap-x-5 px-10;
  }
}
