---
const { className, font } = Astro.props;
---

<div class={className}>
  <h3 class="text-[37px] uppercase">{font}</h3>
  <p class="text-2xl uppercase">
    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
    12345677890!@#$%^&*()
  </p>
</div>
