---
import Icon from "./Icon/Icon.svelte";
---

<div class="blog-filter sticky top-4">
  <div>Filter:</div>
  <button
    >Videos
    <Icon id="arrow-circle" size={16} />
  </button>
  <button
    >Articles
    <Icon id="arrow-circle" size={16} />
  </button>
  <button
    >Live Streams
    <Icon id="arrow-circle" size={16} />
  </button>
  <button
    >Podcasts
    <Icon id="arrow-circle" size={16} />
  </button>
</div>
