<header class="pt-8 px-10 flex items-start gap-10 relative page-grid">
  <div class="col-span-3">
    <a href="/">
      <img src="/images/amy.svg" alt="Amy" />
    </a>
  </div>

  <div class="col-span-9">
    <h1 class="font-condensed text-[100px] leading-[0.8] pb-8"><slot /></h1>
  </div>

  <div
    class="absolute bottom-6 w-screen left-0 border-b-1 border-selectiveYellow"
  >
  </div>
</header>
