<section
  class="border-b-1 border-selectiveYellow pb-[140px] pt-16 page-grid i-believe"
>
  <div class="col-start-2 col-span-10">
    <h2 class="section-heading text-left text-white mb-16">I Truly Believe</h2>

    <!-- All of the contents within the `li` is wrapped in a `div` because I'm
      using the `:before` CSS psuedo element to customize the styling.. -->

    <ol>
      <li>
        <div>
          <h3>Anyone can learn how to code.</h3>
          <p>
            Yes, sometimes you want to pull your hair out and, yes, some days
            are easier than others.<br />
            But, I believe you can.
          </p>
        </div>
      </li>
      <li>
        <div>
          <h3>The sky is the limit.</h3>
          <p>
            If you can think it, you can build.<br />
            Code will help solve some of the world’s hardest problems.
          </p>
        </div>
      </li>
      <li>
        <div>
          <h3>Designers that can code are better designers and developers.</h3>
          <p>
            The better you understand the medium, its limitations, and sweet
            spots, the more proficient you’ll be at using it.
          </p>
        </div>
      </li>
      <li>
        <div>
          <h3>
            There’s something magical about being able to execute an idea from
            conception to completion.
          </h3>
          <p>
            I love seeing an idea come to fruition, exactly as I envisioned it.
          </p>
        </div>
      </li>
      <li>
        <div>
          <h3>Coffee makes everything better.</h3>
          <p>Enough said.</p>
        </div>
      </li>
    </ol>
  </div>
</section>
