---
import { constants } from "../lib/constants";
---

<section>
  <h2 class="section-subheading">
    I Co-Host the Podcast <a
      href={constants.COMPRESSEDFM}
      target="_blank"
      rel="noreferrer">Compressed.fm</a
    >
  </h2>

  <ul>
    <li></li>
  </ul>
</section>
