<section class="page-grid py-20 border-b-1 border-b-selectiveYellow">
  <div class="col-span-6">
    <img
      src="/images/venn-diagram.svg"
      alt="I live at the intersection of design, development, and content."
      class="mx-auto relative"
    />
  </div>
  <div class="col-span-5 self-center">
    <p class="text-xl leading-loose">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu.
    </p>
  </div>
</section>
